<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="OleDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\accessDB.accdb" providerName="System.Data.OleDb" />
    <add name="SQLServerConnectionString" connectionString="Data Source=.;Initial Catalog=Test;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>